.hank-main-header {
  font-family: $hank-font;
  min-height: 920px;
  background: linear-gradient(rgba(235, 1, 165, 0.50), rgba(209, 53, 49, 0.70)), url($assets + '/img/wallpaper-header-homepage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  h2 {
    flex: 1 100%;
    font-size: 16em;
    font-weight: 100;
    color: $hank-color-text;
    text-align: center;
  }

  p {
    flex: 1 100%;
    font-size: 2em;
    font-weight: 300;
    color: $hank-color-text;
    text-align: center;
  }
}