
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
.idea/
###< symfony/framework-bundle ###

composer.lock
node_modules/

coverage/
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
