{% extends 'template.twig' %}

{% block body %}
    {% include 'components/navbar.twig' %}
    {% include 'components/header-homepage.twig' %}

    <main class="homepage-main">
        <div class="container">
            <div class="row d-flex flex-wrap our-advantages flex-column justify">
                <div class="col-md-8 our-advantages-column mr-auto">
                    <h3>The fastest money transfer in the world... perhaps!</h3>

                    <img src="" alt="Image a something what is fast as fuck">
                </div>

                <div class="col-md-8 our-advantages-column ml-auto">
                    <h3>No risk - There is no real money <span style="font-size: 14px; color: deeppink;">(damn it)</span>!</h3>

                    <img src="" alt="Cash">
                </div>

                <div class="col-md-8 our-advantages-column mr-auto">
                    <h3>"We"'ve more than 3 days of experience in this domain <span style="font-size: 14px; color: deeppink;">(what can goes wrong?)</span>!</h3>

                    <img src="" alt="The biggest experience you've seen in your life">
                </div>
            </div>
        </div>

        <div class="container-fluid join-us">
            <div class="row d-flex">
                <div class="create-an-account">
                    <h3>What you're waiting for?</h3>

                    <button class="btn btn-block">Sign Up!</button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}