{% extends 'template.twig' %}

{% block body %}
    {% include 'components/navbar.twig' %}
    {% include 'components/header-homepage.twig' %}

    <main class="homepage-main">
        <div class="container">
            <div class="row d-flex flex-wrap our-advantages flex-column justify">
                <div class="col-md-8 our-advantages-column mr-auto">
                    <h3>The fastest money transfer in the world!</h3>

                    <img src="{{ asset('/assets/img/icons8-in-progress-100.png') }}" alt="Green tick">
                </div>

                <div class="col-md-8 our-advantages-column ml-auto">
                    <h3>No risk - There is no real money!</h3>

                    <img src="{{ asset('/assets/img/icons8-protect-filled-100.png') }}" alt="Shield">
                </div>

                <div class="col-md-8 our-advantages-column mr-auto">
                    <h3>Such experience, that you can't imagine it!</h3>

                    <img src="{{ asset('/assets/img/icons8-training-100.png') }}" alt="Experience">
                </div>
            </div>
        </div>

        <div class="container-fluid join-us">
            <div class="row d-flex">
                <div class="create-an-account">
                    <h3>What are you waiting for!</h3>

                    <a href="{{ path('app_bank_sign_up') }}" class="btn btn-lg">Join</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}