{% extends 'template.twig' %}

{% block body %}
    {% include 'components/navbar.twig' %}
    {% include 'components/client-panel-background.twig' %}

    <main class="client-panel">
        <div class="container">
            <div class="row d-flex">
                {% include 'components/header-client-panel.twig' %}
                {% include 'components/navbar-client-panel.twig' %}

                <div class="col-sm-9">
                    <h2 class="hank-color-special-light">Pay in money</h2>

                    <form method="post" class="form-pay-in" action="{{ path('app_bank_pay_in_processing') }}">
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="number" class="form-control" id="amount" name="amount" value="00.00" step="00.01" max="10000" min="5">
                        </div>

                        <button type="submit" class="btn btn-block btn-hank">Pay In</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}