.sign-up {
  margin-top: 90px;

  .form-sign-up {
    width: 400px;

    color: $hank-color-background-dark;
    font-size: 19px;

    .btn-sign-up {
      cursor: pointer;
      background-color: $hank-color-background-light;
      color: #fff;

      &:hover, &:focus {
        background-color: $hank-color-background-dark;
      }
    }
  }
}