{% if errors is defined and errors is not null %}
    <div class="alert alert-warning m-2 text-center" role="alert">
        {% for error in errors %}
            <p>
                {{ error }}
            </p>
        {% endfor %}
    </div>
{% endif %}

<div class="client-panel-header-background"
        style="{% if app.user.background %}background: url({{ app.user.background }});{% else %}background: url(http://all4desktop.com/data_images/1680%20x%201050/4167926-os-x-mountain-lion.jpg);{% endif %}
                background-size: cover; background-repeat: no-repeat;">

    <div class="client-panel-header-background__change-background">
        <button class="btn client-panel-header-background__change-background--button" data-toggle="modal" data-target="#changeBackgroundModal">
            <img src="{{ asset("assets/img/icons8-settings-50.png") }}">

            <span class="content-blurred content-blurred--change-background"></span>
        </button>
    </div>
</div>

<div class="modal fade" id="changeBackgroundModal" tabindex="-1" role="dialog" aria-labelledby="changeBackgroundModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change background</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="{{ path('hank_client_panel_change_background_processing') }}" method="post">
                    <div class="form-group">
                        <label for="urlToBackground">URL for new background:</label>
                        <input type="url" class="form-control" id="urlToBackground" aria-describedby="urlBackgroundHelp" placeholder="Enter URL" name="url" required>
                        <small id="urlBackgroundHelp" class="form-text text-muted">The URL cannot begin with: file://</small>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-hank">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>