<footer class="hank__footer">
    <div class="container">
        <div class="hank__footer__text-container">
            <p class="hank__footer--text">
                The website is under the <a href="https://github.com/HaKIMus/Hank/blob/master/LICENSE" rel="license">MIT License</a>
            </p>

            <p class="hank__footer--text">
                Created by <a href="https://hakimus.github.io/" rel="author">HaKIM</a> & <a href="https://github.com/HaKIMus/Hank/graphs/contributors">Contributors</a>
            </p>
        </div>

        <ul class="hank__footer--list">
            <li>
                <a href="https://github.com/HaKIMus/Hank/">
                    <img src="{{ asset('/assets/img/icons8-repository-50.png') }}" alt="Repository">

                    Repository
                </a>
            </li>

            <li>
                <a href="https://travis-ci.org/HaKIMus/Hank">
                    <img src="{{ asset('/assets/img/icons8-travis-ci-50.png') }}" alt="Travis CI">

                    Travis CI
                </a>
            </li>

            <li>
                <a href="https://github.com/HaKIMus/Hank/issues">
                    <img src="{{ asset('/assets/img/icons8-issue-50.png') }}" alt="Issue">

                    Make Issue
                </a>
            </li>

            <li>
                <a href="https://github.com/HaKIMus/Hank/issues">
                    <img src="{{ asset('/assets/img/icons8-support-50.png') }}" alt="Support">

                    Support
                </a>
            </li>
        </ul>
    </div>
</footer>