<header class="w-100 client-panel-header d-flex flex-wrap justify-content-between">
    <h3>Hello, <span>{{ client.name }}</span>!</h3>

    <img src="https://t4.ftcdn.net/jpg/01/04/01/37/160_F_104013719_0RBp6tC9Q0ryP0bzgTqHGZWPLbmz2Cdt.jpg" alt="Avatar">

    <span>Balance: <b class="hank-color-special-light">{{ client.bankAccount.balance }} EUR</b></span>
</header>