<header class="hank-main-header">
    <h2 class="bounce animated">HANK</h2>
    <p class="bounceInLeft animated">The safest bank in the world... perhaps.</p>
</header>

{% block stylesheets %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <!-- or -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
{% endblock %}