.client-panel {
  margin-top: 37px;
}

.client-panel-header-background {
  position: relative;
  width: 100%;
  height: 350px;
  box-shadow: 0 1px 1px rgba(0,0,0,.19), 0 2px 10px rgba(0,0,0,.23);
  z-index: 1;

  .client-panel-header-background__change-background {
    width: 100%;
    display: flex;

    .client-panel-header-background__change-background--button {
      z-index: 9999;
      cursor: pointer;
      position: relative;
      margin-left: auto;
      margin-right: 20px;
      border-radius: 0 0 5px 5px;
      border: none;
      overflow: hidden;
      width: 50px;
      height: 50px;
      padding: 10px;

      @supports not ((-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))) {
        opacity: 0.4;

        &:hover {
          opacity: .90;
        }
      }

      @supports ((-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))) {
        background-color: rgba(255, 255, 255, .5);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);

        &:hover {
          background-color: rgba(255, 255, 255, 0.9);
        }
      }

      @supports ((-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))) {
        .content-blurred {
          display: none;
        }
      }

      &:hover .content-blurred--change-background {
        opacity: .90;
      }

      img {
        z-index: 9999;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.client-panel-header {
  border-bottom: 2px solid $hank-color-special;
  padding: 5px;
  color: #333;
  margin-bottom: 30px;

  h3 {
    span {
      font-size: inherit;
      color: $hank-color-special;
    }
  }

  .avatar-container {
    width: 75px;
    height: 75px;
    border-radius: 180px;

    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  span {
    width: 100%;
    font-size: 17px;
    b {
      font-weight: 300;
    }
  }
}

.last-purchased {
  li {
    border-bottom: 1px solid $hank-color-special-light;
    margin-bottom: 15px;
    height: 25px;
  }
}