{% extends 'template.twig' %}

{% block body %}
    {% include 'components/navbar.twig' %}

    <main class="sign-up">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <form method="post" class="form-sign-up" action="{{ path('app_bank_sign_up_processing') }}">
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Enter name" name="name">
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Enter Email" name="email">
                    </div>

                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Enter Password" name="password">
                    </div>

                    <button type="submit" class="btn btn-sign-up btn-block">Sign up</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}